* {
	box-sizing: border-box;
	font-weight: 300;
	line-height: 1.5;
}

body {
	font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 16px;
	background-color: #3498DB;
}

.carousel {
	text-align: center;
}

.carousel img{
	margin: 0 auto;
}